<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "includes/layout/head" %>
  </head>
  <body>
    <main>
      <%= partial "includes/cms/event/slp-video", locals: { video_data: event.featured_video } %>
      <%= partial "includes/cms/event/slp-video", locals: { video_data: event.video_carousel } %>
      <%= partial "includes/cms/event/slp-speakers", locals: { heading: event.speakers_heading, subheading: event.speakers_subheading, body: event.speakers_body, speakers_are_current: event.speakers_are_current, speakers: event.speakers } %>
      <%= partial "includes/cms/event/slp-benefits", locals: { heading: event.tracks_heading, body: event.tracks_body, tracks: event.tracks } %>
      <%= partial "includes/cms/event/slp-partners", locals: { heading: event.partners_heading, body: event.partners_body, cta_text: event.partners_cta_text, cta_link: event.partners_cta_link, tiers: event.partners_tiers } %>
      <% if event.cta %>
        <%= partial "includes/cms/event/slp-cta" %>
      <% end %>
      <% if event.cta_3up %>
        <%= partial "includes/cms/event/slp-cta-3up" %>
      <% end %>
      <% if event.countdown %>
        <%= partial "includes/cms/event/slp-countdown" %>
      <% end %>
      <% if event.connect %>
        <%= partial "includes/cms/event/slp-connect" %>
      <% end %>
      <% if event.announcement %>
        <%= partial "includes/cms/event/slp-announcement" %>
      <% end %>
      <% if event.copy_1 %>
        <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_1 } %>
      <% end %>
      <% if event.block_list_1 %>
        <%= partial "includes/cms/event/slp-block-list", locals: { block_list: event.block_list_1 } %>
      <% end %>
      <% if event.copy_2 %>
        <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_2 } %>
      <% end %>
      <% if event.block_list_2 %>
        <%= partial "includes/cms/event/slp-block-list", locals: { block_list: event.block_list_2 } %>
      <% end %>
      <% if event.copy_3 %>
        <%= partial "includes/cms/event/slp-event-copy", locals: { copy_block: event.copy_3 } %>
      <% end %>
      <% if event.block_list_3 %>
        <%= partial "includes/cms/event/slp-block-list", locals: { block_list: event.block_list_3 } %>
      <% end %>
    </main>
    <script data-cookieconsent="ignore" src="/javascripts/slippers-event-countdown.js" type="text/javascript"></script>
    <script data-cookieconsent="ignore" src="/javascripts/slippers-event-speaker.js" type="text/javascript"></script>
  </body>
</html>