.row.links
  .col-xs-1.col-md-1
  .col-xs-11.col-md-6
    %h2 Ready for the next step?
    %ul
      %li
        Please see
        = link_to "/get-help/" do
          get help for GitLab
        if you have questions
      .description
        View a guide to setting up
        %a{ href: "https://youtu.be/VR2r1TJCDew" }
          agile teams
        with GitLab
      .description
        How to do
        %a{ href: "https://youtu.be/PmFFlTH2DQk" }
          SAFe (Scaled Agile Framework)
        with GitLab
      .description
        How
        %a{ href: "https://youtu.be/CiolDtBIOA0" }
          Issue Boards
        work with GitLab
      .description
        Configurable
        %a{ href: "https://youtu.be/m5UTNCSqaDk" }
          Issue Boards
      .description
        How to use GitLab for
        %a{ href: "https://about.gitlab.com/blog/2018/03/05/gitlab-for-agile-software-development/" }
          Agile
      %li
        4 ways to use
        %a{ href: "https://about.gitlab.com/blog/2018/08/02/4-ways-to-use-gitlab-issue-boards/" }
          Boards
